/* global */
body {
  margin-bottom: 20px;
  margin-top: 20px;
}

/* bootstrap overrides */
.dropdown-item.active,
.dropdown-item.active:focus,
.dropdown-item.active:hover {
  background-color: #e6e6e6;
}