{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "colinrcummings",
    "plugin:@typescript-eslint/recommended",
    "colinrcummings/jest",
    "colinrcummings/prettier",
    "colinrcummings/prettier/react"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "@typescript-eslint/interface-name-prefix": "off",
    "import/no-extraneous-dependencies": "off",
    "react/prop-types": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
