{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "colinrobertbrooks",
    "colinrobertbrooks/typescript",
    "colinrobertbrooks/jest",
    "colinrobertbrooks/prettier"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "no-use-before-define": "off"
  }
}
