{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "colinrcummings",
    "plugin:@typescript-eslint/recommended",
    "colinrcummings/jest",
    "colinrcummings/prettier",
    "colinrcummings/prettier/react"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "react/prop-types": "off"
  }
}
